[Unit]
Description=Homebridge
After=network-online.target

[Service]
Type=simple
Slice=Homebridge.slice
ExecStart=/var/packages/homebridge/target/app/start.sh
Restart=always
RestartSec=3
KillMode=process
